.button-design {
  height: 85px;
  width: 250px;
  background: #000007d5;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.dashes {
  position: absolute;
  color: white;
  right: 5px;
  top: 0;
  height: inherit;
  display: flex;
  align-items: center;
  transform: translateX(101%);

  &.clicked {
    transform: translateX(-100%);
    transition: 4s;
    transition-delay: 2.8s;
  }

  .dash {
    width: 20px;
    height: 2px;
    background: white;
    margin: 0 12px;
  }
}

.dash {
  width: 10px;
  height: 3px;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

.order-placed {
  position: absolute;
  top: 0;
  height: inherit;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  left: 0;
  color: white;
  opacity: -1;
  font-size: 21px;
  animation: ordered 0.5s 5s forwards;
}

.place-order {
  position: absolute;
  top: 0;
  height: inherit;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  left: 0;
  opacity: 1;
  color: white;
  font-size: 21px;
  &.clicked {
    animation: placeorder 0.2s forwards;
  }
}

@keyframes ordered {
  from {
    opacity: -1;
  }
  to {
    opacity: 1;
  }
}

@keyframes placeorder {
  from {
    opacity: 1;
  }
  to {
    opacity: -1;
  }
}

.checked {
  position: absolute;
  padding-left: 4px;
  transform: rotate(45deg);
  right: 52px;
  bottom: 51px;
}

.horizontal {
  position: absolute;
  width: 11px;
  height: 3px;
  background: green;
  bottom: -7px;
}

.vertical {
  height: 20px;
  position: absolute;
  width: 3px;
  bottom: -7px;
  background: green;
  right: -12px;
}

.package {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: rgba(222, 222, 13, 0.912);
  transform: translateX(-160%);

  &.clicked {
    transform: translateX(80%);
    transition: transform 0.8s 0.3s;
    animation: move-package 0.5s ease-in-out 1.4s forwards;
  }

  .package-horizontal {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: white;
  }

  .package-vertical {
    position: absolute;
    left: 50%;
    width: 1%;
    height: 100%;
    background: white;
  }
}

.truck {
  top: 0;
  transform: translateX(320%);
  //transform: translateX(120%);
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  z-index: 1;
  &.clicked {
    transform: translateX(70%);
    transition: transform 1s 0.3s;
    animation: move-truck 0.4s linear 2.2s forwards,
      run-truck 0.8s ease-in 4s forwards;
  }

  .truck-back {
    width: 51px;
    height: 44px;
    background: rgb(219, 211, 211);
    border-radius: 5px;
  }

  .truck-front {
    height: 38px;
    margin-left: 2px;
    width: 26px;
    background: blue;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;

    .truck-glass {
      width: 10px;
      height: 34px;
      background: #000007d5;
      top: 2px;
      left: 4px;
      position: absolute;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .truck-upper-beam {
      width: 5px;
      height: 10px;
      background-color: rgb(236, 236, 73);
      right: 0;
      opacity: 0.6;
      position: absolute;
      top: 2px;
    }

    .truck-lower-beam {
      width: 5px;
      opacity: 0.6;
      height: 10px;
      background-color: rgb(236, 236, 73);
      right: 0;
      position: absolute;
      bottom: 2px;
    }
  }

  .upper-ray {
    position: absolute;
    animation: ray-beam 0.5s 2.2s forwards;
    top: 20px;
  }

  .lower-ray {
    position: absolute;
    animation: ray-beam 0.5s 2.2s forwards;
  }

  .doors {
    .upper-door {
      width: 2px;
      height: 21px;
      background: rgb(219, 211, 211);
      transform-origin: top;
      margin-bottom: 1px;

      &.clicked {
        animation: upper-door-open-close 1.2s linear 0.8s forwards;
      }
    }
    .lower-door {
      width: 2px;
      height: 21px;
      background: rgb(219, 211, 211);
      transform-origin: bottom;
      margin-top: 1px;

      &.clicked {
        animation: lower-door-open-close 1.2s linear 1s forwards;
      }
    }
  }
}

@keyframes upper-door-open-close {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(120deg);
  }

  75% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes lower-door-open-close {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-120deg);
  }

  75% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes move-package {
  to {
    transform: translateX(320%);
    visibility: hidden;
  }
}

@keyframes run-truck {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(320%);
  }
}

@keyframes move-truck {
  100% {
    transform: translateX(100%);
  }
}

@keyframes ray-beam {
  100% {
    clip-path: polygon(-3% 10%, 10% 0%, 10% 20%);
    background: yellowgreen;
    height: 100px;
    width: 100px;
  }
}
